<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path('courses') }}">Courses</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">My courses</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ingestion
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('admin.ingestion') }}">Show all</a>
                    <a class="dropdown-item" href="{{ path('admin.ingestion.create') }}">Add new one</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
        </ul>
    </div>
    {% if app.user %}
        <div class="row">

            <a href="
            {{ path('admin') }}
            " class="mr-4" title="settings"> <i class="fas fa-cog"></i></a>
            <a href="
                {{ path('user.profile') }}
            " title="{{ app.user.username }} " class="mr-4"> My space </a>
            <a href="{{ path('app_logout') }}" class="mr-4">Logout</a>
        </div>
    {% else %}
        <div class="row mr-4">
            <div class="mr-4">
                <a href="{{ path('app_login') }}">Sign in</a>
            </div>
            <div class="mr-4">
                <a href="{{ path('app_register') }}">Sign up</a>
            </div>
        </div>
    {% endif %}
</nav>